<div [ngStyle]="{
  display: 'grid',
  'grid-template-columns': 'repeat(12, 1fr)',
    'grid-gap': '10px',
    'grid-auto-rows': 'minmax(100px, auto)'
}">
  <div style="grid-column: 1/3"></div>
  <div style="grid-column: 4/9">
    <div style="
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      ">
      <h1 [ngStyle]="{
        'text-transform': 'uppercase',
        'font-weight': 'bold'
      }">To Do app</h1>
      <mat-button-toggle-group value="1" #todoSelection="matButtonToggleGroup">
        <app-button-toggle value="1" icon="assignment" text="Todos" />
        <app-button-toggle value="2" icon="assignment_turned_in" text="Complete" />
        <app-button-toggle value="3" icon="assignment_late" text="Uncomplete" />
      </mat-button-toggle-group>

      <div [ngSwitch]="todoSelection.value" [ngStyle]="{
        width: '100%',
        height: 'auto',
        display: 'flex',
        'flex-direction': 'column',
        'justify-content': 'center',
        'align-items': 'center',
        margin: '1rem 0'
      }">
        <div *ngSwitchCase="1" [ngStyle]="{
        width: '100%',
        height: 'auto'}">
          <app-todo-card *ngFor="let value of todos" [value]="value" (onStateChange)="putState($event)"
            (onDelete)="deleteTodo($event)" (onClick)="openTodoModal($event)"
            [ngStyle]="{ width: '100%', 'max-width': '500px' }" />
        </div>
        <div *ngSwitchCase="2" [ngStyle]="{
          width: '100%',
          height: 'auto'}">
          <app-todo-card *ngFor=" let value of doneTodo" (onStateChange)="putState($event)" [value]="value"
            (onDelete)="deleteTodo($event)" (onClick)="openTodoModal($event)"
            [ngStyle]="{ width: '100%', 'max-width': '500px' }" />
        </div>
        <div *ngSwitchCase="3" [ngStyle]="{
          width: '100%',
          height: 'auto'}">
          <app-todo-card *ngFor="let todo of notDoneTodo" (onStateChange)="putState($event)" [value]="todo"
            (onDelete)="deleteTodo($event)" (onClick)="openTodoModal($event)"
            [ngStyle]="{ width: '100%', 'max-width': '500px' }" />
        </div>
      </div>
    </div>
  </div>
  <div style="grid-column: 10/12">
    <div [ngStyle]="{
      width: '100%',
      height: '100%',
      diplay: 'flex',
      flexDirection: 'column',
      justifyContent: 'center'
    }">
      <mat-card>
        <mat-card-content>
          <div [ngStyle]="{
            width: '100%',
            height: '100%',
            display: 'flex',
            flexDirection: 'column'
          }">
            <h4 [ngStyle]="{ fontWeight: 'bold' }">
              Todo Complete: {{ doneTodo.length }}
            </h4>
            <h4 [ngStyle]="{ fontWeight: 'bold' }">
              Todo Uncomplete: {{ notDoneTodo.length }}
            </h4>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-floating icon="add" bottom="0" left="0" (onClick)="openFormModal()"></app-floating>
</div>