<mat-form-field
  appearance="outline"
  [ngStyle]="{
    width: '100%'
  }"
>
  <mat-label *ngIf="!!label">{{ label }}</mat-label>
  <input
    matInput
    #input="ngModel"
    [(ngModel)]="value"
    (ngModelChange)="handleChange($event)"
    [name]="name"
    [type]="type"
    [placeholder]="placeholder"
    [step]="step"
    [min]="min"
    [max]="max"
    [required]="required"
  />
  <mat-error
    *ngIf="input.errors?.['required']"
    [ngStyle]="{
      color: 'red'
    }"
    >{{ error }}</mat-error
  >
</mat-form-field>
